# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

*.vscode
*.out
*.o
*.so
*.txt
*.a
*~*
*.log
*.err
*.tar
*.zip
*.32
*.64
*.exe
*.gch
*.d

#Verify some important files
!Makefile
!makefile
